
<h1>Welcome to my website</h1>

<hr>
<h2>The weather in Manchester today is mostly......</h2>
{{!-- <h3>Location: {{ location }}</h3>
<h3>Country: {{ country }}</h3>
<h3>Weather: {{ desc }}</h3>
<h3>URL: {{iconimg}} </h3> --}}

{{!-- <h3>Weather image code: {{ iconcode }} </h3> --}}
{{!-- <img src="http://openweathermap.org/img/w/" + {{iconcode}} + ".png"> --}}
{{!-- <script src="http://openweathermap.org/img/w/" + {{iconcode}} + ".png"></script>
<script src="http://openweathermap.org/img/w/" + ((iconcode)) + ".png"></script>
<script src="http://openweathermap.org/img/w/" + (iconcode) + ".png"></script> --}}

{{!-- <h3>Temperature: {{ temp }} </h3>
<h3>Feels like: {{ feels }} </h3>
<h3>Sunrise: {{ humanrise }} </h3>
<h3>Sunset: {{ humanset }} </h3> --}}


<hr>
<br>
<h2>UK Random News story</h2>
<br>
<h3>Number of stories: {{ total }} </h3>
<h3>Random story number: {{ random }} </h3>

{{!-- <h3> {{ news }} </h3>
<h3> {{ storyurl }} </h3>
<a href={{storyurl}}></a> --}}


{{!-- <ul>
    {{#each relevantData as |data|}}
    {{#if @last}}
    {{@key}}

    {{#each this}}
    <ul>
        <li>{{this}}</li>
    </ul>
    {{/each}}

    {{else}}
    <li>{{@key}} : {{data}}</li>
    {{/if}}
    {{/each}}
</ul> --}}


<br><br>
<hr>
<h2>Trains...</h2>

<h4>Live train station Departures feed ....</h4>

<h3> Date: {{ date }} </h3>
<h3> Time: {{ time }} </h3>
<h3> Station Name: {{ stationname }} </h3>
<h3> Station Code: {{ stationcode }} </h3>

<br>
<h3> something:  {{ stationname  }} </h3>
<h3> something else: {{ stationname }} </h3>


<br><br>
<hr>














