
Click here for the <a href="/news">News page</a>
<br>
Click here for the <a href="/trains">Trains page</a>


<h2>The weather in Manchester today is mostly......</h2>
<br>
<h3>Location: {{ location }}</h3>
<h3>Country: {{ country }}</h3>
<h3>Weather: {{ desc }}</h3>
<h3>URL: {{iconimg}} </h3>

<h3>Weather image code: {{ iconcode }} </h3>
<img src="http://openweathermap.org/img/w/" + {{iconcode}} + ".png">
<script src="http://openweathermap.org/img/w/" + {{iconcode}} + ".png"></script>
<script src="http://openweathermap.org/img/w/" + ((iconcode)) + ".png"></script>
<script src="http://openweathermap.org/img/w/" + (iconcode) + ".png"></script>

<h3>Temperature: {{ temp }} </h3>
<h3>Feels like: {{ feels }} </h3>
<h3>Sunrise: {{ humanrise }} </h3>
<h3>Sunset: {{ humanset }} </h3>
<br><br><br><br>



{{!-- <input type="text">
<input type="text">
<button>Submit your request</button> --}}

<div>
    <h4>Weather request</h4>
    <form action="/index" method="POST">

    <label for="city">city: </label>
    <input type="text" name="city">
    <label for="code">country code: </label>
    <input type="text" name="country">
    <input type="submit" value="submit">

    </form>
</div>








