
<h1>Welcome to my website</h1>

<hr>
<h2>The weather in Manchester today is mostly......</h2>
<h3>Location: {{ location }}</h3>
<h3>Country: {{ country }}</h3>
<h3>Weather: {{ desc }}</h3>
<h3> {{iconimg}} </h3>
<h3>Weather image code: {{ iconcode }} </h3>
{{!-- <img src="http://openweathermap.org/img/w/" + {{iconcode}} + ".png">
<script src="http://openweathermap.org/img/w/" + {{iconcode}} + ".png"></script>
<script src="http://openweathermap.org/img/w/" + ((iconcode)) + ".png"></script>
<script src="http://openweathermap.org/img/w/" + (iconcode) + ".png"></script> --}}
<h3>Temperature: {{ temp }} C</h3>
<h3>Feels like: {{ feels }} C</h3>
<h3>Sunrise: {{ humanrise }} </h3>
<h3>Sunset: {{ humanset }} </h3>


<hr>
<h2>UK news Headlines</h2>




<br><br>
<hr>
<h2>New York news</h2>




<br><br>
<hr>














