

Click here for the <a href="/news">News page</a>
<br>
Click here for the <a href="/index">Weather page</a>


<h2>Live train station Departures feed ....</h2>

<h3> Today: {{ date }} </h3>
<h3> Current Time: {{ time }} </h3>
<h3> Station Name: {{ stationname }} </h3>
<h3> Station Code: {{ stationcode }} </h3>
<hr>

<h3> Operator: {{ operatorname }}</h3>
<h3> Time: {{ departure_time}} </h3>
<h3> Destination: {{ destination }} </h3>
<h3> Plat: {{ platform }} </h3>
<h3> Status: {{ status }} </h3>

<hr>










