

Click here for the <a href="/news">News page</a>
<br>
Click here for the <a href="/index">Weather page</a>


<h2>Piccadilly Station Manchester Live train Departures</h2>

<h3> Today: {{ date }} </h3>
<h3> Current Time: {{ time }} </h3>
<hr>
<!-- LEAVE ABOVE AS IS -->


<!-- START OF TEMPLATE -->
<h3> Operator: {{ operatorname }}</h3>
<h3> Time: {{ departure_time}} </h3>
<h3> Destination: {{ destination }} </h3>
<h3> Plat: {{ platform }} </h3>
<h3> Status: {{ status }} </h3>
<hr>
<!-- END OF TEMPLATE -->



{{#each departures}}
<ul style="list-style-type:none;">
    <li>{{this.operatorname}}</li>
    <li>{{this.platform}}</li>
    <li>{{this.status}}</li> 
    <li>{{this.departure_time}}</li>
    <li>{{this.destination}}</li>
</ul>
{{/each}}






